<div class="container-fluid Product_List_Wrapper">
    <div class="row Product_list_item_wrapper">
        <div class="col-md-4 col-sm-6 col-xs-12 product_list_item" *ngFor="let product of productList">
            <mat-card>
                <mat-card-header color="primary">
                    <mat-card-title> ID: {{ product.id }} </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="card_content">
                        <div class="blend_name">
                            Blend Name: {{ product.blend_name }}
                        </div>
                        <div class="origin">Origin: {{ product.origin }}</div>
                        <div class="variety">Variety: {{ product.variety }}</div>
                        <div class="notes">Notes: {{ product.notes }}</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="row Paginator_wrapper">
            <div *ngIf="productCount > 0" class="paginator">
                <mat-paginator [length]="productCount" [pageSize]="10" [pageSizeOptions]="[10]"
                    (page)="onPageChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>