.Product_list_item_wrapper {
    background-color: rgb(233, 237, 237);
    .product_list_item {
        padding: 1rem;
        .card_content {
            margin: 1rem;
            min-height: 200px;
            .id, .blend_name, .origin , .variety {
                font-size: 1rem;
                font-weight: 600;
                padding: 0.5rem 0 0.5rem 0;
            }
        }
    }
  }