.Product_list_item_wrapper {
    .product_list_item {
        padding: 1rem;
        .mat-card {
            background-color: #3f51b5;
            box-shadow: 5px 5px 5px 5px #cecece;
            overflow: auto;
            color: #ebebeb;
        }
        .card_content {
            height: 200px;
            .id,
            .blend_name, 
            .origin, 
            .variety,
            .notes {
                font-size: 1rem;
                font-weight: 600;
                margin: 1rem 0 1rem 0;
            }
        }
    }
    .Paginator_wrapper {
        justify-content: center;
    }
}
