.Product_List_Head {
    .mat-toolbar {
        justify-content: center;
        background-color: #000000;
        color: #ffffff;
        height: 12vh;
    }
    .__title {
        font-weight: 800;
        font-size: 3rem;
    }
}

.Product_List_Footer {
    text-align: center;
    font-size: 0.75rem;
    color: #cacaca
}