.Product_List_Head {
    mat-toolbar {
        justify-content: center;
        background-color: #000000;
        color: #ffffff;
    }
    .mat-toolbar-row {
        justify-content: center;
    }
    .__title {
        font-size: 2rem;
        white-space: pre-wrap;
    }
}
